<div class="services-container">
    <div class="slanted-image-container">
        <div class="overlay"></div>
        <img src="./assets/images/servicios.jpg" alt="">
    </div>
    <div class="circle-container" style="margin-top: 20px;">
        <!-- Icono 1 -->
        <div class="circle">
            <mat-icon>security</mat-icon>
            <div class="title">SERVICIOS EN SISTEMAS DE SEGURIDAD</div>
            <div class="description">Descripción 1</div>
        </div>

        <!-- Icono 2 -->
        <div class="circle">
            <mat-icon>signal_cellular_alt</mat-icon>
            <div class="title">SERVICIOS EN TELECOMUNICACIONES</div>
            <div class="description">Descripción 2</div>
        </div>

        <!-- Icono 3 -->
        <div class="circle">
            <mat-icon>business_center</mat-icon>
            <div class="title">SERVICIO LOGISTICO</div>
            <div class="description">Descripción 3</div>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="left left" fxLayoutGap="5px">
        <img src="./assets/images/359361735_101415203026602_2245449723496330869_n.png" class="imagen-izquierda">
        <div fxLayoutAlign="center center">
            <br><br>
            <div class="title">SERVICIOS EN SISTEMAS DE SEGURIDAD</div>
            <br>
            <ul>
                <li>Instalación, mantenimiento y suministro de:</li>
                <li>Equipos de Sistemas contra incendio NFPA convencionales y direccionables </li>
                <li>Equipos de Sistemas contra incendio NFPA análogo direccionable</li>
                <li>Equipos de control de accesos y seguridad</li>
                <li>Equipos de control de video vigilancia y CCTV.</li>
                <li>Diseño e Implementación de Sistemas de Seguridad.</li>
                <li>Diagnóstico de Sistemas de Seguridad</li>
            </ul>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="statistics-section">
        <span>SERVICIO LOGISTICO</span>
      
        <div fxLayout="row" fxLayoutGap="20px">
          <!-- Primera columna -->
          <div fxFlex="50%" class="column">
            <ul>
              <li>Gabinetes, racks y bandejas</li>
              <li>Cables de Fibra Óptica y Cobre.</li>
              <li>Cableado eléctrico de baja tensión.</li>
              <li>Conectividad y Accesorios para centro de datos.</li>
              <li>Equipos de telecomunicación</li>
              <li>Servidores y equipos de cómputo.</li>
            </ul>
          </div>
      
          <!-- Segunda columna -->
          <div fxFlex="50%" class="column">
            <ul>
              <li>Cámaras IP/Analógicas, equipos biométricos y seguridad.</li>
              <li>Herramientas eléctricas y manuales.</li>
              <li>Insumos eléctricos y electrónicos.</li>
              <li>Equipo de seguridad personal.</li>
              <li>Ferretería en general.</li>
              <li>Mobiliario de oficina</li>
            </ul>
          </div>
        </div>
      </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
        <div>
            <br><br>
            <div class="title">SERVICIOS EN TELECOMUNICACIONES</div>
            <br>
            <li>Instalación, mantenimiento y suministro de:</li>
            <li>Equipos de telecomunicaciones (Óptico, Eléctrico, RF)</li>
            <li>Equipos de control de accesos, seguridad y vigilancia.</li>
            <li>Equipos de cómputo, servidores y componentes.</li>
            <li>Equipos de protección y energía DC/AC para centro de datos.</li>
            <li>Infraestructura para centros de datos y cableado estructurado.</li>
            <li>Diseño e Implementación de salas de monitoreo, conferencias y centro de datos.</li>
            <li>Diagnostico de redes (Aplicaciones LAN, centro de datos, industrial y minería)</li>
        </div>
        <img src="./assets/images/left-side.png" class="imagen-derecha">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="statistics-section">
        <div>
            <h1><mat-icon>touch_app</mat-icon></h1>
            <span>Mantengamos el contacto</span>
            <br>
            <div class="button-row">
                <a mat-raised-button routerLink="/quienes-somos">Contactanos</a>
            </div>
        </div>
    </div>
</div>