<footer class="main-footer">
    <div class="footer-section">
      <p>Derechos Reservados ©cognathi.com</p>
    </div>
    <div class="footer-section">
      <p>Calle Saturno 148,
        Callao - Lima</p>
    </div>
    <div class="footer-section">
      <p>Telefono +51 923 201 101 </p>
      <p>Email contacto@cognathi.com</p>
    </div>
    <div class="footer-section">
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100094743662631" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>
