@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f6f6f6;
}

.statistics-section {
    background-color: #00406b;
    width: 100%;
    margin-top: 30px;
}

.statistics-section div {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
}